<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form</title>
  </head>

  <body>
    <form method="POST" action="/form/result">
      <input type="text" name="firstname" placeholder="Luca" /> <br />
      <input type="text" name="lastname" placeholder="Debeir" /> <br />
      <input type="number" name="annualSalary" placeholder="32000$" /> <br />
      <input type="number" name="superRate" placeholder="3%" /> <br />
      <input type="date" name="paymentStartDate"><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>